dr_venv/
Drone_FW/venv/
drman/db.sqlite3
drman/accounts/__pycache__/
drman/drman/__pycache__/
drman/accounts/migrations/
.vscode/settings.json
.vscode/settings.json
drman/static/images/
drman/accounts/mission.csv
