
		body{
			background-color: #e1e2e4;
		}


		#tdrone{
			background-color: #597bc5;
		}

		#bdrone{
			background-color: #8dd66b;
		}

        #completed{
			background-color: #52e49b;
		}


		#pending{
			background-color: #ffffff;
		}

		#cancelled{
			background-color: #ffffff;
		}
        #maintenance{
			background-color: #ffffff;
		}
		#headlaunch{
			background-color: #248faf ;
		}
		#toprow{
			background-color: #248faf;
		}

		#bottomrow{
			background-color: #95f5b2;
		}

		#btnlaunch{
			background-color: #33ccff;
		}