
		body{
			background-color: #e1e2e4;
		}


		#total-drones{
			background-color: #ffffff;
		}
        #completed{
			background-color: #52e49b;
		}


		#pending{
			background-color: #ffffff;
		}

		#cancelled{
			background-color: #ffffff;
		}
        #maintenance{
			background-color: #ffffff;
		}
		#headlaunch{
			background-color: #248faf ;
		}

