{% extends 'accounts/main.html' %}


{% block content %}
<div class="container">
<div class="row">
	<div class="col">
		<h5 class="text-center display-4">Drone Info</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-danger  btn-sm btn-block" href="{% url 'create-drone' %}">Add Drone</a>
<br>
			<table class="table" id="table_id">
				<thead class="thead-dark" style="text-align:left">
					<tr>
						<th scope="col">Drone ID</th>
						<th scope="col">Station</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for i in drones %}
					<tr>
						<td align="left">{{i.droneid}}</td>
						<td align="left">{{i.locale}}</td>
						{% if i.status == 'm' %}
						<td align="left">Maintenance</td>
						{% endif%}
						{% if i.status == 'o' %}
						<td align="left">On Loan</td>
						{% endif%}
						{% if i.status == 'a' %}
						<td align="left">Available</td>
						{% endif%}
						{% if i.status == 'r' %}
						<td align="left">Reserved</td>
						{% endif%}
					</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
	</div>
</div>

	{% endblock %}



	{% block js %}

	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/sp-1.1.1/sl-1.3.1/datatables.min.css" />

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#table_id').DataTable({

				buttons: {
					name: 'primary',
					buttons: ['copy', 'csv', 'excel', 'pdf']
				}
			}


			);
			table.buttons().container()
				.appendTo('#example_wrapper .col-md-6:eq(0)');
		});
	</script>

	{% endblock %}
	<!--prechange-->