{% extends 'accounts/main.html' %}
{% load crispy_forms_tags  %}
{% load static %}
{% block content %}


<div class="card card-body">
<table class="table table-hover table-striped" id="table_id">
  <thead style="text-align:left" id="btnlaunch">
    <tr>
      <th scope="col">Mission No</th>
      <th scope="col">Drone Station</th>
      <th scope="col">Drone Assigned</th>
      <th scope="col">Mission Type</th>
      <th scope="col">Media Type</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Status</th>
      <th scope="col">Customer</th>
      <th scope="col">Launch Mode</th>


    </tr>
  </thead>
  <tbody>
    {% for mission in missions %}
    <tr>
      <td align="left"><a href="{% url 'launch' mission.id %}">{{mission.mission_id}}</a></td>
      <td align="left">{{mission.state}}</td>
      <td align="left">{{mission.drone}}</td>

      {% if mission.mission_type == '1' %}
      <td align="left">Loiter</td>
      {% elif mission.mission_type == '2' %}
      <td align="left">Circumferance</td>
      {% else %}
      <td align="left">Comprehensive</td>
      {% endif %}

      {% if mission.mode_type == '1' %}
      <td align="left">Photo</td>
      {% else %}

      <td align="left">Video</td>
      {% endif %}
      <td align="left">{{mission.date_future|date:"d/m/y"}}</td>
      <td align="left">{{mission.date_future|date:"H:i:s"}}</td>
      <td align="left">{{mission.mission_status}}

      <td align="left">{{mission.customer.name}}
        {% if mission.launch_mode == 'MANUAL' and mission.launch_now == False %}
      <td align="center"><a type="button" class="btn btn-sm" href="{% url 'launch-drone' mission.id%}" id ="btnlaunch">MANUAL</a></td>
      {% endif %}
      {% if mission.launch_mode == 'AUTO' %}
      <td align="center"><button type="button" class="btn btn-sm" href="#" disabled id ="btnlaunch">AUTO</button></td>
      {% endif %}
      {% if mission.launch_mode == 'MANUAL' and mission.launch_now == True %}
      <td align="center"><button type="button" class="btn btn-sm" href="#" disabled id ="btnlaunch"  >MANUAL</button></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
</div>



<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to <b>Launch</b>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please make sure you comply with local rules and regulations and take into account local weather conditions.
        <b>Failure to comply with these rules may result in significant financial and/or legal consequences.</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Launch</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/sp-1.1.1/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable({

      buttons:{
        name:'primary',
        buttons:['copy','csv','excel','pdf']
      }
    }


    );
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script>

{% endblock %}

