{%  extends 'accounts/main.html' %}

{% block content %}



<div class="row">
	<div class="col-md-5">
		<h3 class="text-center">CUSTOMERS</h3>
		<hr>
		<div class="card card-body">
			<a class="btn btn-success  btn-sm btn-block" href="{% url 'create-customer' %}">Add New Customer</a>
			<br>
			<table class="table">
				<thead class="thead-dark" style="text-align:center">
					<tr>
						<th scope="col"></th>
						<th scope="col">Customer</th>
						<th scope="col">Mission</th>
					</tr>
				</thead>
				<tbody>
					{% for cust in customer|slice:":5"  %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' cust.id %}">View</a></td>
						<td align="center">{{cust.name}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h3 class="text-center">LAST 5 ORDERS</h3>
		<hr>
		<div class="card card-body">
			<div class="row">
				<div class="col col-md">
					<a class="btn btn-success  btn-sm btn-block" href="{% url 'create-mission' %}">Add New Mission</a>
				</div>
				<div class="col col-md">
					<a class="btn btn-info  btn-sm btn-block" href="{% url 'all-mission' %}">View My Mission</a>
				</div>
				<div class="col col-md">
					<a class="btn btn-info  btn-sm btn-block" href="{% url 'all-mission' %}">View All Mission</a>
				</div>

			</div>
			<br>
			<table class="table">
				<thead class="thead-dark" style="text-align:center">
					<tr>
						<th>Mission</th>
						<th>Date Scheduled</th>
						<th>Status</th>
						<th>Update</th>
					</tr>
				</thead>
				<tbody>
					{% for miss in mission|slice:":5" %}
					<tr>
						<td align="center">{{miss.mission_id}}</td>
						<td align="center">{{miss.date_future|date:"d/m/y H:i:s"}}</td>
						<td align="center">{{miss.mission_status}}</td>
						<td align="center"><a class="btn btn-info btn-sm" href="{% url 'launch' miss.id %}">View</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

{% endblock %}