{% extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags  %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Do you want to Launch {{mission.mission_id}} ?</h5>
        </div>
        <div class="card-body">
            <p class="card-text col-md-12">Please make sure you comply with local rules and regulations and take into
                account
                local weather conditions.
                <b>Failure to comply with these rules may result in significant financial and/or legal consequences.</b>
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    {{form|crispy}}
                </div>
                <div class="col-md-12"><button type="submit" class="btn btn-danger">Submit</button></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}