{% extends 'accounts/main.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="container">
    <div class="row">


        <div class="card">
            <div class="card-body">
                <h2 class=" card text-light card-title text-center pb-1" id="headlaunch">Mission Details</h2>
                <br>
                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Mission ID:</h4>
                    </div>
                    <div class="col-md text-center">
                        <h5>{{mission.mission_id}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Servicing Drone Station:</h4>
                    </div>
                    <div class="col-md text-center">
                        <h4>{{mission.state}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Drone Assigned:</h4>
                    </div>
                    <div class="col-md text-center">
                        <h4>{{mission.drone}}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Mission Type:</h4>
                    </div>
                    <div class="col-md text-center">
                        {% if mission.mission_type == '1' %}
                        <h4>Loiter</h4>
                        {% elif mission.mission_type == '2' %}
                        <h4>Circumferance</h4>
                        {% else %}
                        <h4>Comprehensive</h4>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Mission Status:</h4>
                    </div>
                    <div class="col-md text-center">
                        <h4>{{mission.mission_status}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mx-5 my-2">
                        <h4>Mission Manager:</h4>
                    </div>
                    <div class="col-md text-center">
                        <h4>{{mission.manager}}</h4>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md mx-5 my-2">
                    <a href="{{mission.mission_pic.url}}">Mission Image</a>
                </div>
                </div> -->
                <br>
                <div class="row">
                    <div class="col-md">
                        <a href="{% url 'update-mission' mission.id %}"
                            class="btn btn-primary btn-lg btn-block">Update</a>
                    </div>
                    <div class="col-md">
                        <a href="#"
                        class="btn btn-danger btn-lg btn-block">Delete</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mission Map</h5>
                {% thumbnail mission.mission_pic "500x500" crop="center" as im %}
                    <a href="{{ im.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
                <!-- <img src="{{mission.mission_pic.url}}"> -->
                <!-- <p class="card-text">This is were the map will be
                    displayed............................................................................</p> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}