{% extends 'accounts/main.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="class-title text-center">Mission Details</h2>
            <br>
            <div class="row">
                <div class="col-md">
                    <h4>Mission ID:</h4>
                </div>
                <div class="col-md">
                    <h4>Mission</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h4>Servicing Drone Station:</h4>
                </div>
                <div class="col-md">
                    <h4>Mission</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h4>Drone Assigned:</h4>
                </div>
                <div class="col-md">
                    <h4>Mission</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <h4>Mission Type:</h4>
                </div>
                <div class="col-md">
                    <h4>Mission</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <h4>Mission Status:</h4>
                </div>
                <div class="col-md">
                    <h4>Mission</h4>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}