{% extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags  %}
{% block content %}

<div class="container">
    <div class="card card-body">
        <h2>Mission No: {{mission_id}}</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                    {{form.date|as_crispy_field}}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{form.time|as_crispy_field}}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{form.drone|as_crispy_field}}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{form.state|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.customer|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.manager|as_crispy_field}}
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{form.mission_type|as_crispy_field}}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{form.mode_type|as_crispy_field}}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{form.mission_status|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.launch_mode|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.launch_now|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{form.mission_pic|as_crispy_field}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
{% endblock %}