{% load static %}
<style>
  .hello-msg {
    font-size: 18px;
    color: azure;
    margin-right: 20px;
  }
</style>

<div class="contaner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <img src="{% static 'images/logo.png' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'main-home' %}">Home
          <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link {% if request.path == '/about/' %}active{% endif %}"
          href="{% url 'drone' %}">Drones</a>
        <a class="nav-item nav-link {% if request.path == '/customer_list/' %}active{% endif %}"
          href="{% url 'customer-list' %}">Customers</a>
        <a class="nav-item nav-link {% if request.path == '/mission/' %}active{% endif %}"
          href="{% url 'all-mission' %}">Missions</a>
        <a class="nav-item nav-link {% if request.path == '/statistics/' %}active{% endif %}"
          href="{% url 'status' %}">Missions Statistics</a>


      </div>
      <div class="navbar-nav">
        <span class="hello-msg nav-item nav-link">Welcome, {{ request.user }}</span>
        <a class="hello-msg nav-link" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </nav>
</div>