{% extends 'accounts/main.html' %}

{% block content %}
{% load static %}
<br>
<div class="container">
	<div class="row">
		<div class="col col-md">
			<div class="card text-center text-black  mb-3">
				<div class="card-header" id="toprow">
					<h5 class="card-title">Total Drones</h5>
				</div>
				<div class="card-body" id="bottomrow">
					<h3 class="card-title">{{total_drone}}</h3>
				</div>
			</div>
		</div>





		<div class="col col-md">
			<div class="card text-center text-black mb-3" id="maintenance">
				<div class="card-header" id="toprow">
					<h5 class="card-title">Drones Maintenance</h5>
				</div>
				<div class="card-body" id="bottomrow">
					<h3 class="card-title">{{maintenance_drone}}</h3>
				</div>
			</div>
		</div>
		<div class="col col-md">
			<div class="card text-center text-black mb-3" id="maintenance">
				<div class="card-header" id="toprow">
					<h5 class="card-title">Drones On Loan</h5>
				</div>
				<div class="card-body" id="bottomrow">
					<h3 class="card-title">{{onloan_drone}}</h3>
				</div>
			</div>
		</div>
		<div class="col col-md">
			<div class="card text-center text-black mb-3" id="maintenance">
				<div class="card-header" id="toprow">
					<h5 class="card-title">Drones Reserved</h5>
				</div>
				<div class="card-body" id="bottomrow">
					<h3 class="card-title">{{reserved_drone}}</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- ----------------------------------------------------Second Row------------------------------------------- -->
	<div class="row">
		<div class="col col-md">
			<div class="card text-center text-black mb-3">
				<div class="card-header" id="tdrone">
					<h5 class="card-title">Total Missions</h5>
				</div>
				<div class="card-body" id="bdrone">
					<h3 class="card-title">{{total_missions}}</h3>
				</div>
			</div>

		</div>
		<div class="col col-md">
			<div class="card text-center text-black mb-3" id="maintenance">
				<div class="card-header" id="tdrone">
					<h5 class="card-title">Missions Completed</h5>
				</div>
				<div class="card-body" id="bdrone">
					<h3 class="card-title">{{mission_complete}}</h3>
				</div>
			</div>
		</div>


		<div class="col col-md">
			<div class="card text-center text-black  mb-3" id="pending">
				<div class="card-header" id="tdrone">
					<h5 class="card-title">Missions Pending</h5>
				</div>
				<div class="card-body" id="bdrone">
					<h3 class="card-title">{{mission_pending}}</h3>
				</div>
			</div>
		</div>


		<div class="col col-md">
			<div class="card text-center text-black mb-3" id="cancelled">
				<div class="card-header" id="tdrone">
					<h5 class="card-title">Missions Cancelled</h5>
				</div>
				<div class="card-body" id="bdrone">
					<h3 class="card-title">{{mission_cancelled}}</h3>
				</div>
			</div>
		</div>

	</div>

</div>



{% endblock %}