<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-drones">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Drones</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="completed">
			  	<div class="card-header">
			  		<h5 class="card-title">Missions Completed</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Missions Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
    </div>
    <div class="col">
        <div class ="col-md">
            <div class="card text-center text-black mb-3" id="cancelled">
                <div class="card-header">
                    <h5 class="card-title">Missions Cancelled</h5>
                </div>
                <div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class ="col-md">
            <div class="card text-center text-black mb-3" id="maintenance">
                <div class="card-header">
                    <h5 class="card-title">Total Drone</h5>
                    <h5 class="card-title">Maintenance</h5>
                </div>
                <div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
            </div>
        </div>
    </div>
</div>